.App {
  width: auto;
}
.Footer_container {
  width: 1144px;
  background-color: black;
  text-align: center;
  margin: auto;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 119.1%;
  padding: 1% 0;
  padding-left: 85px;
}
@media only screen and (max-width: 1130px) {
  .Footer_container {
    width: auto;
  }
}
